{% extends 'core/base.html' %} {% load humanize %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">Search</h1>

      <p>Search term: "{{ query }}"</p>

      <hr />

      <form method="get" action="{% url 'search' %}">
        <div class="field">
          <div class="control">
            <input type="text" class="input" name="query" value="{{ query }}" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-success">Search</button>
          </div>
        </div>
      </form>

      <hr />

      <div class="search-results">
        {% if not talkers and not talks %}
        <p>No results, please try a different search term..</p>
        {% endif %} {% if talkers %}
        <strong>Talkers</strong>

        {% for talker in talkers %}
        <p>
          <a href="{% url 'talkerprofile' talker.username %}"
            >{{ talker.username }}</a
          >
        </p>
        {% endfor %} {% endif %} {% if talks %}
        <strong>Talks</strong>

        <div class="wrapper-talks">
          {% for talk in talks %}
          <div class="talk">
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  {% if talk.created_by.talkerprofile.avatar %}
                  <img src="{{ talk.created_by.talkerprofile.avatar.url }}" />
                  {% endif %}
                </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong
                      ><a
                        href="{% url 'talkerprofile' talk.created_by.username %}"
                        >{{ talk.created_by.username }}</a
                      ></strong
                    >
                    <small>{{ talk.created_at|naturaltime }}</small>
                    <br />
                    {{ talk.body }}
                  </p>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
